<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mainpage</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="p-5">
    <header>
      <div class="flex w-[100wh] p-1">
        <img
          class="rounded-[50px]"
          src="/mainpage/img.main/image-placeholder _- Change image here.png"
          alt=""
        />
        <div class="flex flex-col pl-3">
          <span>Good Morning 👋</span>
          <span> Amir Hossien</span>
        </div>
        <div class="flex items-center pl-16 gap-2">
          <div><img src="/mainpage/img.main/bell.svg" alt="" /></div>
          <a href="/mainpage/wishlist.html">
            <div><img src="/mainpage/img.main/heart.svg" alt="" /></div>
          </a>
        </div>
      </div>
    </header>
    <div class="flex justify-center w-[100wh] bg-[#fafafa] pl-4 pt-4">
      <img src="/mainpage/img.main/search.svg" alt="" />
      <input
        class="w-[100%] outline-none pl-2"
        type="search"
        name=""
        id="searchInput"
        placeholder="Search"
      />
    </div>
    <div class="items pt-7">
      <section class="grid grid-cols-4 gap-1 items-center">
        <div class="flex flex-col justify-center items-center">
          <div
            class="bg-gray-200 p-4 w-[70px] h-[70px] text-center rounded-full flex items-center justify-center"
          >
            <img src="/mainpage/img.brand/nike.png" alt="" />
          </div>
          <span>nike</span>
        </div>
        <div class="flex flex-col justify-center items-center">
          <div
            class="bg-gray-200 p-4 w-[70px] h-[70px] text-center rounded-full flex items-center justify-center"
          >
            <img src="/mainpage/img.brand/Adidas.png" alt="" />
          </div>
          <span>Adidas</span>
        </div>
        <div class="flex flex-col justify-center items-center">
          <div
            class="bg-gray-200 p-4 w-[70px] h-[70px] text-center rounded-full flex items-center justify-center"
          >
            <img src="/mainpage/img.brand/puma.png" alt="" />
          </div>
          <span>Puma</span>
        </div>
        <div class="flex flex-col justify-center items-center">
          <div
            class="bg-gray-200 p-4 w-[70px] h-[70px] text-center rounded-full flex items-center justify-center"
          >
            <img src="/mainpage/img.brand/asics.png" alt="" />
          </div>
          <span>Asics</span>
        </div>
        <div class="flex flex-col justify-center items-center">
          <div
            class="bg-gray-200 p-4 w-[70px] h-[70px] text-center rounded-full flex items-center justify-center"
          >
            <img src="/mainpage/img.brand/reebok.png" alt="" />
          </div>
          <span>Reebok</span>
        </div>
        <div class="flex flex-col justify-center items-center">
          <div
            class="bg-gray-200 p-4 w-[70px] h-[70px] text-center rounded-full flex items-center justify-center"
          >
            <img src="/mainpage/img.brand/new Ba...png" alt="" />
          </div>
          <span>New Ba..</span>
        </div>
        <div class="flex flex-col justify-center items-center">
          <div
            class="bg-gray-200 p-4 w-[70px] h-[70px] text-center rounded-full flex items-center justify-center"
          >
            <img src="/mainpage/img.brand/converse.png" alt="" />
          </div>
          <span>Converse</span>
        </div>
        <div class="flex flex-col justify-center items-center">
          <div
            class="bg-gray-200 p-4 w-[70px] h-[70px] text-center rounded-full flex items-center justify-center"
          >
            <img src="/mainpage/img.brand/more.png" alt="" />
          </div>
          <span>More</span>
        </div>
      </section>
    </div>
    <div class="flex justify-between px-2 mt-5">
      <a href="/mainpage/Most Popular.html">
        <span class="font-bold">Most Popular</span>
      </a>
      <span class="font-bold">See All</span>
    </div>

    <div class="overflow-x-auto overflow-hidden flex gap-2 mt-4 no-scrollbar">
      <button
        id="allButton"
        class="w-fit px-5 border rounded-[30px] flex-shrink-0"
      >
        All
      </button>
      <button
        id="nikeButton"
        class="w-fit px-5 border rounded-[30px] flex-shrink-0"
      >
        nike
      </button>
      <button
        id="adidasButton"
        class="w-fit px-5 border rounded-[30px] flex-shrink-0"
      >
        Adidas
      </button>
      <button
        id="pumaButton"
        class="w-fit px-5 border rounded-[30px] flex-shrink-0"
      >
        Puma
      </button>
      <button
        id="asicsButton"
        class="w-fit px-5 border rounded-[30px] flex-shrink-0"
      >
        Asics
      </button>
      <button
        id="reebokButton"
        class="w-fit px-5 border rounded-[30px] flex-shrink-0"
      >
        Reebok
      </button>
      <button
        id="newBalanceButton"
        class="w-fit px-5 border rounded-[30px] flex-shrink-0"
      >
        New Ba...
      </button>
      <button
        id="converseButton"
        class="w-fit px-5 border rounded-[30px] flex-shrink-0"
      >
        Converse
      </button>
    </div>

    <!-- <div>
      <div
        class="border flex justify-center items-center bg-[#eceff1] rounded-[30px] w-[150px] h-[150px]"
      >
        <img src="/mainpage/image/adidas/1.png" alt="" />
      </div>
      <div class="flex flex-col">
        <span>Adidas Superstar </span>
        <span>$ 85.00</span>
      </div>
    </div> -->
    <div
      id="dataDisplay"
      class="flex flex-col gap-1 items-center mt-5 mb-10"
    ></div>
    <footer
      class="flex justify-around fixed bottom-0 bg-white w-[100%] pr-5 h-[60px] items-center"
    >
      <div class="items-center flex flex-col">
        <img src="/mainpage/img.icon/house-door-fill.svg" alt="" />
        <span class="text-[13px]">Home</span>
      </div>
      <div class="items-center flex flex-col">
        <img src="/mainpage/img.icon/bag.svg" alt="" />
        <span class="text-[13px]">cart</span>
      </div>
      <div class="items-center flex flex-col">
        <img src="/mainpage/img.icon/cart2.svg" alt="" />
        <span class="text-[13px]">Orders</span>
      </div>
      <div class="items-center flex flex-col">
        <img src="/mainpage/img.icon/wallet2.svg" alt="" />
        <span class="text-[13px]">Wallet</span>
      </div>
      <div class="items-center flex flex-col">
        <img src="/mainpage/img.icon/person.svg" alt="" />
        <span class="text-[13px]">Profile</span>
      </div>
    </footer>
    <script src="mainpage.js"></script>
  </body>
</html>
